.option{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-item{

  }
}

.number{
  padding: 5px;
  font-family: 'Digital2', sans-serif;
}

.current{
  color: $orange;
}
.total{
  color: black;

}