// Colors
$green          : #4CD964;
$dark-green: #26c57d;
$cyan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;

$color-main     : #B61111;
$color-text     : #333;
$color-subtitle : #848484;

$color-border:  #dddddd;

$bg-second      : #EBEBEB;
$bg-navbar      : #B61111;
$bg-footer      : #3B3B3B;


$text-main      : #333;
$text-subtitle  : #666;
$text-comment   : #999;

$separate-width: 1200px;


$z-toast: 100;
$z-modal: 70;
$z-mask: 50;


$fz-info: 12px;
$fz-typing: 2rem;

$gap-block: 10px;


@for $item from 1 through 6 {
  .pt-#{$item}{padding-top: $item * 5px;}
  .pb-#{$item}{padding-bottom: $item * 5px;}
  .pl-#{$item}{padding-left: $item * 5px;}
  .pr-#{$item}{padding-right: $item * 5px;}
  .mt-#{$item}{margin-top: $item * 5px;}
  .mb-#{$item}{margin-bottom: $item * 5px;}
  .ml-#{$item}{margin-left: $item * 5px;}
  .mr-#{$item}{margin-right: $item * 5px;}
}

