@import "reset";
@import "utility";
@import "variables";
@import "font";
@import "info";
@import "button";
@import "option";
@import "table";
@import "copyright";
@import "black";


body{
  color: $text-main;
  background-color: $bg-second;
  padding-bottom: 50px;
  @include transition(background-color 0.5s);
}

#app{
  margin: 0 auto;
  max-width: $separate-width;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}


.type-pad{
  width: 100%;
}

.template{
  color: black;
  margin-bottom: $gap-block;
  padding: 10px;
  border: 1px solid $color-border;
  max-height: 150px;
  background-color: lighten($bg-second, 5%);
  overflow-y: scroll;
  @media (max-width: $separate-mobile){
    margin-bottom: 5px;
    height: auto;
    overflow-y: scroll;
  }
}


.typing{
  textarea{
    white-space: pre-wrap;
    border: 1px solid $color-border;
    resize: none;
    max-height: 200px;
    width: 100%;
    padding: 10px;
    display: block;
    &:focus{
      @include box-shadow(inset 1px 1px 5px rgba(0,0,0,0.1));
    }
  }
}


.text{
  font-size: $fz-typing;
  letter-spacing: 2px;
  white-space: pre-wrap;
  .correct{
    text-shadow: none;
    //background-color: $bg-second;
    color: darken($bg-second, 5%) !important;
    white-space: inherit;
  }
  .wrong{
    background-color: $red;
    color: white !important;
    white-space: inherit;
  }
  @media (max-width: $separate-mobile){
    font-size: 1rem;
  }
}

.text-green{
  color: $green !important;
}

.link{
  color: inherit;
  &:hover{
    color: $color-main;
  }
}

.hidden{
  display: none;
}
.hidden-sm {
  @media (max-width: 768px) {
    display: none;
  }
}

.hidden-big {
  @media (min-width: 768px) {
    display: none;
  }
}

