* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse; }

select {
  -webkit-appearance: none; }

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace; }

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none; }

::-webkit-scrollbar {
  z-index: 50;
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-track {
  border-right: 1px solid #eeeeee;
  background-color: rgba(0, 0, 0, 0); }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  transition: all .2s;
  height: 3px; }

:hover::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  transition: all .2s; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-corner {
  display: none; }

/*
  Extension
*/
.unselectable, .btn-group .btn, td .btn, .logo img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pt-1 {
  padding-top: 5px; }

.pb-1 {
  padding-bottom: 5px; }

.pl-1 {
  padding-left: 5px; }

.pr-1 {
  padding-right: 5px; }

.mt-1 {
  margin-top: 5px; }

.mb-1 {
  margin-bottom: 5px; }

.ml-1 {
  margin-left: 5px; }

.mr-1 {
  margin-right: 5px; }

.pt-2 {
  padding-top: 10px; }

.pb-2 {
  padding-bottom: 10px; }

.pl-2 {
  padding-left: 10px; }

.pr-2 {
  padding-right: 10px; }

.mt-2 {
  margin-top: 10px; }

.mb-2 {
  margin-bottom: 10px; }

.ml-2 {
  margin-left: 10px; }

.mr-2 {
  margin-right: 10px; }

.pt-3 {
  padding-top: 15px; }

.pb-3 {
  padding-bottom: 15px; }

.pl-3 {
  padding-left: 15px; }

.pr-3 {
  padding-right: 15px; }

.mt-3 {
  margin-top: 15px; }

.mb-3 {
  margin-bottom: 15px; }

.ml-3 {
  margin-left: 15px; }

.mr-3 {
  margin-right: 15px; }

.pt-4 {
  padding-top: 20px; }

.pb-4 {
  padding-bottom: 20px; }

.pl-4 {
  padding-left: 20px; }

.pr-4 {
  padding-right: 20px; }

.mt-4 {
  margin-top: 20px; }

.mb-4 {
  margin-bottom: 20px; }

.ml-4 {
  margin-left: 20px; }

.mr-4 {
  margin-right: 20px; }

.pt-5 {
  padding-top: 25px; }

.pb-5 {
  padding-bottom: 25px; }

.pl-5 {
  padding-left: 25px; }

.pr-5 {
  padding-right: 25px; }

.mt-5 {
  margin-top: 25px; }

.mb-5 {
  margin-bottom: 25px; }

.ml-5 {
  margin-left: 25px; }

.mr-5 {
  margin-right: 25px; }

.pt-6 {
  padding-top: 30px; }

.pb-6 {
  padding-bottom: 30px; }

.pl-6 {
  padding-left: 30px; }

.pr-6 {
  padding-right: 30px; }

.mt-6 {
  margin-top: 30px; }

.mb-6 {
  margin-bottom: 30px; }

.ml-6 {
  margin-left: 30px; }

.mr-6 {
  margin-right: 30px; }

@font-face {
  font-family: "Impact";
  src: url("../font/Impact.ttf"); }
@font-face {
  font-family: "DS Digital";
  src: url("../font/DSDigital.ttf"); }
@font-face {
  font-family: "Roboto Mono";
  src: url("../font/RobotoMono.ttf"); }
.roboto-mono, .binding-key kbd {
  font-family: 'Roboto Mono', sans-serif !important; }

.number, .time-info .time .minute, .time-info .time .second, td.time {
  font-family: 'DS Digital', sans-serif !important; }

.impact {
  font-family: 'Impact', sans-serif !important; }

.code {
  font-family: 'Roboto Mono', sans-serif; }

.bold {
  font-weight: bold; }

.text-right {
  text-align: right; }
.text-left {
  text-align: left; }

.side-menu {
  margin-right: 10px;
  flex-shrink: 0;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }

.info-panel {
  margin-bottom: 10px;
  padding: 15px;
  background-color: white;
  border: 1px solid #dddddd;
  font-size: 12px; }
  .info-panel > p {
    margin-bottom: 5px; }
    .info-panel > p:last-child {
      margin-bottom: 0; }

.info-panel-no-bg {
  background-color: transparent; }

.key-info-item {
  position: relative;
  margin-bottom: 5px;
  display: flex;
  color: #666;
  justify-content: space-between; }
  .key-info-item:before {
    z-index: 1;
    content: '';
    top: 50%;
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed #dddddd; }
  .key-info-item:last-child {
    margin-bottom: 0; }
  .key-info-item h6, .key-info-item p {
    z-index: 50;
    background-color: white;
    font-size: 12px; }
  .key-info-item h6 {
    padding-right: 10px; }
  .key-info-item p {
    padding-left: 10px; }

.time-info .time {
  color: #666;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem; }

.speed-info .speed {
  font-family: Impact, sans-serif;
  padding: 10px 0;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px dashed #dddddd; }
.speed-info .count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem; }
  .speed-info .count-item {
    text-align: center;
    width: 40px;
    color: #333;
    position: relative;
    margin-right: 22px; }
    .speed-info .count-item:after {
      content: '';
      position: absolute;
      right: -12px;
      height: 15px;
      width: 2px;
      background-color: #FF9500;
      top: 50%;
      margin-top: -7.5px; }
    .speed-info .count-item:last-child {
      margin-right: 0; }
      .speed-info .count-item:last-child:after {
        content: none; }
    .speed-info .count-item p:first-child {
      font-family: Impact, sans-serif;
      font-weight: bold; }
    .speed-info .count-item p:last-child {
      color: #999;
      font-size: 10px; }

.binding-key {
  display: flex;
  justify-content: space-between; }
  .binding-key kbd {
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: black;
    text-align: center;
    padding: 2px 6px;
    font-weight: bold;
    min-width: 20px;
    border: 2px solid #f7f7f7;
    background-color: white !important;
    margin-right: 3px;
    -webkit-box-shadow: 1px 2px 0 #ababab;
    -moz-box-shadow: 1px 2px 0 #ababab;
    box-shadow: 1px 2px 0 #ababab; }

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap; }

.btn-primary {
  background-color: #26c57d;
  color: white;
  border: 1px solid #26c57d; }
  .btn-primary:hover {
    border-color: #1e9a62; }
  .btn-primary:active {
    background-color: #1e9a62; }

.btn-blue {
  background-color: #007AFF;
  color: white;
  border: 1px solid #007AFF; }
  .btn-blue:hover {
    border-color: #0062cc; }
  .btn-blue:active {
    background-color: #0062cc; }

input[type=checkbox],
input[type=radio] {
  display: none; }

input[type=checkbox] + label {
  position: relative;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #dddddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 24px;
  width: 40px; }
  input[type=checkbox] + label:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

input[type=checkbox]:checked + label {
  background-color: #26c57d;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  input[type=checkbox]:checked + label:before {
    content: '';
    display: block;
    position: absolute;
    left: 18px;
    right: 0;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

input[type=radio] + label {
  background-color: white;
  color: #FF9500 !important;
  padding-left: 8px;
  padding-right: 8px; }

input[type=radio]:checked + label {
  font-weight: bold;
  background-color: #FF9500;
  color: white !important; }
  input[type=radio]:checked + label:hover {
    background-color: #ffa01a; }

.btn-group {
  display: flex;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  justify-content: flex-start;
  overflow: hidden;
  border: 1px solid #dddddd;
  margin: 0 5px 5px 0; }
  .btn-group:last-child {
    margin-right: 0; }
  .btn-group.no-border {
    border: none !important; }
  .btn-group .btn {
    color: inherit;
    line-height: 1;
    cursor: pointer;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: white;
    border: none;
    border-right: 1px solid #dddddd;
    font-size: 13px;
    padding: 6px 8px; }
    .btn-group .btn:last-child {
      border-right: none; }
    .btn-group .btn:hover {
      background-color: #f2f2f2; }
    .btn-group .btn:active {
      -webkit-transform: translateY(2px);
      -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
      -o-transform: translateY(2px);
      transform: translateY(2px);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
    .btn-group .btn.danger {
      background-color: #FF3B30;
      color: white; }

.option {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.current {
  color: #FF3B30; }

.table-container {
  overflow-y: auto;
  border: 1px solid #dddddd;
  background-color: white;
  margin-top: 10px; }

.table {
  width: 100%;
  color: #666; }

thead tr {
  border-bottom: 1px solid #eaeaea; }
  thead tr th {
    color: #666;
    text-align: left;
    padding: 8px 4px;
    font-weight: bold;
    font-size: 12px; }
    thead tr th:first-child {
      padding-left: 10px; }
    thead tr th:last-child {
      padding-right: 10px; }

tbody {
  width: 100%; }
  tbody tr {
    cursor: crosshair; }
    tbody tr:nth-child(2n+1) {
      background-color: #f7f7f7; }
    tbody tr:nth-child(2n) {
      background-color: white; }
    tbody tr:hover {
      background-color: #f2f2f2; }
    tbody tr td:first-child {
      padding-left: 10px; }
    tbody tr td:last-child {
      padding-right: 10px; }

td {
  padding: 4px;
  font-size: 12px; }
  td .btn {
    color: inherit;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 4px 6px;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    td .btn:hover {
      background-color: #FF3B30;
      color: white;
      border-color: #FF3B30; }
  td.time {
    letter-spacing: 1px; }

.lv-6 {
  color: #5856D6 !important; }

.lv-5 {
  color: #FF2D70 !important; }

.lv-4 {
  color: #FF9500 !important; }

.lv-3 {
  color: #26c57d !important; }

.lv-2 {
  color: #007AFF !important; }

.lv-1 {
  color: #8E8E93 !important; }

.logo {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo img {
    flex-shrink: 0;
    width: 50px;
    display: block; }
  .logo h1 {
    margin-left: 10px;
    font-size: 13px;
    color: #666; }
    .logo h1:hover {
      color: #FF9500; }

.copyright {
  border-top: 1px dashed #dddddd;
  padding: 10px 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #666; }

body.black {
  background-color: black; }
  body.black .info-panel {
    background-color: #1a1a1a;
    border-color: #333333;
    color: white; }
  body.black .key-info-item {
    color: #e6e6e6; }
    body.black .key-info-item:before {
      border-color: #4d4d4d; }
    body.black .key-info-item h6, body.black .key-info-item p {
      background-color: #1a1a1a; }
  body.black .time-info .time {
    color: #e6e6e6; }
  body.black .speed-info .speed {
    border-color: #333333; }
  body.black .speed-info .count-item {
    color: #e6e6e6; }
  body.black .copyright {
    border-top: 1px dashed #333333;
    color: gray; }
  body.black .logo img {
    opacity: 0.5; }
  body.black .table-container {
    border: 1px solid #333333;
    background-color: #1a1a1a; }
  body.black .table {
    color: #b3b3b3; }
  body.black thead tr {
    border-bottom: #333333; }
    body.black thead tr th {
      color: #b3b3b3; }
  body.black tbody tr:nth-child(2n+1) {
    background-color: #0d0d0d; }
  body.black tbody tr:nth-child(2n) {
    background-color: black; }
  body.black tbody tr:hover {
    background-color: #262626; }
  body.black td .btn {
    color: #b3b3b3;
    background-color: #333333;
    border: 1px solid #333333; }
    body.black td .btn:hover {
      color: white;
      background-color: #FF3B30; }
  body.black .template {
    color: #e6e6e6;
    border: 1px solid #333333;
    background-color: #1a1a1a; }
  body.black .typing textarea {
    border: 1px solid #333333;
    background-color: #1a1a1a;
    color: white; }
    body.black .typing textarea:focus {
      -webkit-box-shadow: inset 1px 1px 5px black;
      -moz-box-shadow: inset 1px 1px 5px black;
      box-shadow: inset 1px 1px 5px black; }
  body.black .text .correct {
    color: #333333 !important; }
  body.black .text .wrong {
    background-color: #FF3B30;
    color: white !important; }
  body.black .btn-group {
    border: 1px solid #333333; }
    body.black .btn-group .btn {
      color: white;
      background-color: #1a1a1a;
      border-right: 1px solid #333333; }
      body.black .btn-group .btn:active {
        -webkit-box-shadow: inset 0 1px 2px black;
        -moz-box-shadow: inset 0 1px 2px black;
        box-shadow: inset 0 1px 2px black; }
      body.black .btn-group .btn:hover {
        background-color: #333333;
        border-color: #333333; }
      body.black .btn-group .btn:last-child {
        border-right: none; }
      body.black .btn-group .btn.danger {
        background-color: #FF3B30;
        color: white; }
  body.black input[type=checkbox] + label {
    background-color: #666666; }
  body.black input[type=checkbox]:checked + label {
    background-color: #009652; }
  body.black input[type=checkbox] + label:before {
    background-color: #1a1a1a; }
  body.black input[type=radio] + label {
    color: #FF9500; }
  body.black input[type=radio]:checked + label {
    background-color: #FF9500;
    color: white; }
    body.black input[type=radio]:checked + label:hover {
      background-color: #e68600; }
  body.black ::-webkit-scrollbar-track {
    border-right: 1px solid #333333;
    background-color: #333333; }
  body.black ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eee;
    transition: all .2s;
    height: 3px; }
  body.black :hover::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    transition: all .2s; }

body {
  color: #333;
  background-color: #EBEBEB;
  padding-bottom: 50px; }

#app {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  padding: 10px; }

.type-pad {
  width: 100%; }

.template {
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
  max-height: 200px;
  background-color: #f8f8f8;
  overflow-y: scroll; }
  @media (max-width: 768px) {
    .template {
      margin-bottom: 5px;
      height: auto;
      overflow-y: scroll; } }

.typing textarea {
  white-space: pre-wrap;
  border: 1px solid #dddddd;
  resize: none;
  max-height: 200px;
  width: 100%;
  padding: 10px;
  display: block; }
  .typing textarea:focus {
    -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1); }

.text {
  font-size: 2rem;
  letter-spacing: 2px;
  white-space: pre-wrap; }
  .text .correct {
    text-shadow: none;
    color: #dedede !important;
    white-space: inherit; }
  .text .wrong {
    background-color: #FF3B30;
    color: white !important;
    white-space: inherit; }
  @media (max-width: 768px) {
    .text {
      font-size: 1rem; } }

.text-green {
  color: #26c57d !important; }

.link {
  color: inherit; }
  .link:hover {
    color: #FF9500; }

.hidden {
  display: none; }

@media (max-width: 768px) {
  .hidden-sm {
    display: none; } }

@media (min-width: 768px) {
  .hidden-big {
    display: none; } }

/*# sourceMappingURL=typepad.css.map */
