@import "reset";
@import "utility";
@import "variables";
@import "font";
@import "info";
@import "button";
@import "option";
@import "table";
@import "copyright";
@import "black";


body{
  color: $text-main;
  background-color: $bg-second;
  padding-bottom: 50px;
  overflow-y: auto;
  @include transition(background-color 0.5s);
}

#app{
  margin: 0 auto;
  max-width: $separate-width;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}


.type-pad{
  width: 100%;
}

.template{
  color: black;
  margin-bottom: $gap-block;
  padding: 10px;
  border: 1px solid $color-border;
  max-height: 150px;
  background-color: lighten($bg-second, 5%);
  overflow-y: scroll;
  @media (max-width: $separate-mobile){
    margin-bottom: 5px;
    height: auto;
    overflow-y: scroll;
  }
}

.translation{

}
.translation-panel{
  z-index: $z-toast;
  white-space: nowrap;
  position: absolute;
  top: -0.5rem;
  left: 0;
  line-height: 1;
  padding: 2px 5px;
  color: $cyan;
  font-weight: normal;
  font-size: $fz-translation;
  text-shadow: 0 1px 0 transparentize($cyan, 0.7);
  //@include border-radius(2px);
  //border: 1px solid $color-border;
  //background-color: white;
  //@include box-shadow(1px 1px 3px rgba(0,0,0,0.1))
}

.untyped-part{
  position: relative;
}


.typing{
  textarea{
    white-space: pre-wrap;
    border: 1px solid $color-border;
    resize: none;
    height: 100px;
    width: 100%;
    padding: 10px;
    display: block;
    &:focus{
      @include box-shadow(inset 1px 1px 5px rgba(0,0,0,0.1));
    }
  }
}


.text{
  font-size: $fz-typing;
  letter-spacing: 2px;
  white-space: pre-wrap;
  &.english {
    letter-spacing: 0;
    font-size: $fz-typing-english;
  }
  .correct{
    text-shadow: none;
    //background-color: $bg-second;
    color: darken($bg-second, 5%) !important;
    white-space: inherit;
  }
  .wrong{
    background-color: $red;
    color: white !important;
    white-space: inherit;
  }
  @media (max-width: $separate-mobile){
    font-size: 1rem;
  }
}



.link{
  cursor: pointer;
  color: inherit;
  &:hover{
    color: $color-main;
  }
  &.danger{
    color: $red;
  }
}

.hidden{
  display: none;
}
.hidden-sm {
  @media (max-width: 768px) {
    display: none;
  }
}

.hidden-big {
  @media (min-width: 768px) {
    display: none;
  }
}

$colors  : (
  'green'      : $green,
  'dark-green' : $dark-green,
  'cyan'       : $cyan,
  'blue'       : $blue,
  'purple'     : $purple,
  'roseo'      : $roseo,
  'red'        : $red,
  'orange'     : $orange,
  'yellow'     : $yellow,
  'gray'       : $gray,
);

@each $name, $color in $colors {
  .text-#{$name}{
    color: $color !important;
  }
}



.full-screen{
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: $z-toast;
  &-btn {
    opacity: 0.3;
    width: 30px;
    @include transition(all 0.3s);
    img {
      display: block;
      width: 100%;
    }
    &:hover{
      opacity: 1;
      @include transition(all 0.3s)
    }
  }
  &-tip{
    font-size: $fz-info;
    color: $text-comment;
  }
  &-tip-mobile{
    left: 20px;
    bottom: 20px;
    font-size: $fz-info;
    color: $text-comment;
  }
}
