* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

select {
  -webkit-appearance: none;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

::-webkit-scrollbar {
  z-index: 50;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-right: 1px solid #eeeeee;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ddd;
  transition: all 0.2s;
  height: 3px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #aaa;
  transition: all 0.2s;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.pr-3 {
  padding-right: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pl-5 {
  padding-left: 25px;
}

.pr-5 {
  padding-right: 25px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-5 {
  margin-bottom: 25px;
}

.ml-5 {
  margin-left: 25px;
}

.mr-5 {
  margin-right: 25px;
}

.pt-6 {
  padding-top: 30px;
}

.pb-6 {
  padding-bottom: 30px;
}

.pl-6 {
  padding-left: 30px;
}

.pr-6 {
  padding-right: 30px;
}

.mt-6 {
  margin-top: 30px;
}

.mb-6 {
  margin-bottom: 30px;
}

.ml-6 {
  margin-left: 30px;
}

.mr-6 {
  margin-right: 30px;
}

/*
  Extension
*/
.unselectable, .logo img, input[type=checkbox] + label.checker, .btn, .btn-group .btn-vertical > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Impact";
  src: url("./font/ImpactPureNumber.ttf");
}
@font-face {
  font-family: "DS Digital";
  src: url("./font/DSDigital.ttf");
}
@font-face {
  font-family: "Galvji";
  src: url("./font/Galvji.ttf");
}
@font-face {
  font-family: "JetBrainsMonoOnlyCharacter";
  src: url("./font/JetBrainsMonoOnlyCharacter.ttf");
}
.galvji, .table, .binding-key kbd {
  font-family: "Galvji", sans-serif !important;
}

.number, .time-info .time .second, .time-info .time .minute {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-family: "DS Digital", sans-serif !important;
}

.impact {
  font-family: "Impact", sans-serif !important;
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.side-menu {
  margin-right: 12px;
  flex-shrink: 0;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.toolbar-info {
  width: 100%;
}
.toolbar-info > * {
  text-align: center;
  flex-grow: 1;
}

.info-panel {
  margin-bottom: 12px;
  padding: 15px;
  color: #555;
  background-color: white;
  border: 1px solid #dddddd;
  font-size: 12px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.info-panel > p {
  margin-bottom: 8px;
}
.info-panel > p:last-child {
  margin-bottom: 0;
}
.info-panel > p a {
  font-weight: bold;
  text-decoration: underline;
}

.info-panel-no-bg {
  background-color: transparent;
}

.key-info-item {
  font-size: 12px;
}

.time-info .time {
  color: #555;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}
.speed-info {
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.speed-info .speed {
  width: 100%;
  color: #333;
  font-family: Impact, sans-serif;
  padding: 10px 0;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px dashed #dddddd;
}
.speed-info .statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 15px 0;
}
.speed-info .statistic-item {
  text-align: center;
  width: 40px;
  color: #333;
  position: relative;
  margin-right: 22px;
}
.speed-info .statistic-item:after {
  content: "";
  position: absolute;
  right: -12px;
  height: 15px;
  width: 2px;
  background-color: #FF9500;
  top: 50%;
  margin-top: -7.5px;
}
.speed-info .statistic-item:last-child {
  margin-right: 0;
}
.speed-info .statistic-item:last-child:after {
  content: none;
}
.speed-info .statistic-item .title {
  font-family: Impact, sans-serif;
  font-weight: bold;
}
.speed-info .statistic-item .desc {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3px;
  color: #999;
  font-size: 10px;
}

.binding-key {
  display: flex;
  justify-content: space-between;
}
.binding-key kbd {
  line-height: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: black;
  text-align: center;
  padding: 2px 6px;
  font-weight: bold;
  min-width: 20px;
  border: 2px solid #f7f7f7;
  background-color: white;
  margin-right: 3px;
  -webkit-box-shadow: 1px 2px 0 #ababab;
  -moz-box-shadow: 1px 2px 0 #ababab;
  box-shadow: 1px 2px 0 #ababab;
}

.with-dashline-center, .key-info-item, .switch-item {
  margin-bottom: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.with-dashline-center > div, .key-info-item > div, .switch-item > div {
  z-index: 10;
  background-color: white;
}
.with-dashline-center > div:first-child, .key-info-item > div:first-child, .switch-item > div:first-child {
  padding-right: 10px;
}
.with-dashline-center > div:last-child, .key-info-item > div:last-child, .switch-item > div:last-child {
  padding-left: 10px;
}
.with-dashline-center:before, .key-info-item:before, .switch-item:before {
  z-index: 1;
  content: "";
  top: 50%;
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed #dddddd;
}
.with-dashline-center:last-child, .key-info-item:last-child, .switch-item:last-child {
  margin-bottom: 0;
}

.tool-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.btn, .btn-group .btn-vertical > * {
  color: inherit;
  line-height: 1;
  cursor: pointer;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  white-space: nowrap;
  font-size: 13px;
  padding: 6px 8px;
  background-color: white;
}
.btn.no-action, .btn-group .btn-vertical > .no-action {
  cursor: default;
}
.btn.no-action:hover, .btn-group .btn-vertical > .no-action:hover {
  background-color: white;
}
.btn.no-action:active, .btn-group .btn-vertical > .no-action:active {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:hover, .btn-group .btn-vertical > :hover {
  background-color: #f2f2f2;
}
.btn:active, .btn-group .btn-vertical > :active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn.danger, .btn-group .btn-vertical > .danger {
  background-color: #FF3B30;
  color: white;
}

.btn-sm {
  padding: 2px 3px;
  font-size: 12px;
}

.btn-green {
  color: white;
  background-color: #26c57d;
}
.btn-green:hover {
  border-color: #1e9a62;
}
.btn-green:active {
  background-color: #1e9a62;
}

.btn-blue {
  color: white;
  background-color: #007AFF;
}
.btn-blue:hover {
  border-color: #0062cc;
}
.btn-blue:active {
  background-color: #0062cc;
}

.btn-orange {
  color: white;
  background-color: #FF9500;
}
.btn-orange:hover {
  border-color: #cc7700;
}
.btn-orange:active {
  background-color: #cc7700;
}

.btn-roseo {
  color: white;
  background-color: #ff2d70;
}
.btn-roseo:hover {
  border-color: #f9004f;
}
.btn-roseo:active {
  background-color: #f9004f;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox] + label.switch {
  position: relative;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #dddddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 16px;
  width: 24px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type=checkbox] + label.switch:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox]:checked + label.switch {
  background-color: #26c57d;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type=checkbox]:checked + label.switch:before {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  right: 0;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox] + label.checker {
  cursor: pointer;
  display: block;
  border-color: #26c57d;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox]:checked + label.checker {
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #26c57d;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-group {
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  justify-content: flex-start;
  overflow: hidden;
  border: 1px solid #dddddd;
  margin: 0 12px 12px 0;
}
.btn-group.dash {
  border-style: dashed;
}
.btn-group.dash > * {
  border-color: inherit;
  border-right-style: dashed;
}
.btn-group > * {
  border-right: 1px solid #dddddd;
}
.btn-group > *:last-child {
  border-right: none;
}
.btn-group .btn-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.btn-group .btn-vertical > * {
  padding: 2px;
  font-size: 7px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  height: 50%;
  width: 20px;
}
.btn-group .btn-vertical > *:last-child {
  border-bottom: none;
}
.btn-group:last-child {
  margin-right: 0;
}
.btn-group.no-border {
  border: none !important;
}

input[type=radio] + label {
  background-color: white;
}

input[type=radio]:checked + label {
  font-weight: bold;
  background-color: #FF9500;
  color: white !important;
}
input[type=radio]:checked + label:hover {
  background-color: #ffa01a;
}

label.btn, .btn-group .btn-vertical > label {
  min-width: 30px;
  text-align: center;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.option {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current {
  text-align: right;
  min-width: 20px;
  display: inline-block;
  color: #FF3B30;
}

.table-container {
  overflow-y: auto;
  border: 1px solid #dddddd;
  background-color: white;
  margin-top: 12px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.table {
  width: 100%;
  color: #555;
}
.table .speed {
  letter-spacing: 1px;
  padding-right: 20px;
}

thead tr {
  border-bottom: 1px solid #eaeaea;
}
thead tr th {
  color: #555;
  text-align: left;
  padding: 8px 4px;
  font-weight: bold;
  font-size: 12px;
}
thead tr th:first-child {
  padding-left: 10px;
}
thead tr th:last-child {
  max-width: 60px;
  padding-right: 10px;
}
thead tr th .link, thead tr th .info-panel > p a, .info-panel > p thead tr th a {
  font-size: 10px;
}

tbody {
  width: 100%;
}
tbody tr {
  cursor: crosshair;
}
tbody tr:nth-child(2n+1) {
  background-color: #f7f7f7;
}
tbody tr:nth-child(2n) {
  background-color: white;
}
tbody tr:hover {
  background-color: #f2f2f2;
}
tbody tr td:first-child {
  padding-left: 10px;
}
tbody tr td:last-child {
  padding-right: 10px;
}

td {
  padding: 5px 4px;
  font-size: 12px;
}
td .btn, td .btn-group .btn-vertical > *, .btn-group td .btn-vertical > * {
  font-size: 10px;
  color: inherit;
  border: 1px solid #dddddd;
  background-color: white;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
td .btn:hover, td .btn-group .btn-vertical > :hover, .btn-group td .btn-vertical > :hover {
  background-color: #FF3B30;
  border-color: #FF3B30;
  color: white;
}
@media (max-width: 768px) {
  td {
    padding: 5px 2px;
  }
}

.lv-6 {
  color: #ff2d70 !important;
}

.lv-5 {
  color: #FF9500 !important;
}

.lv-4 {
  color: #26c57d !important;
}

.lv-3 {
  color: #007AFF !important;
}

.lv-2 {
  color: #5856D6 !important;
}

.lv-1 {
  color: #8E8E93 !important;
}

.logo {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  flex-shrink: 0;
  width: 50px;
  display: block;
}
.logo h1 {
  margin-left: 10px;
  font-size: 13px;
}
.logo h1 a:hover {
  color: #FF9500;
}

.copyright {
  border-top: 1px dashed #dddddd;
  padding: 10px 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #555;
}

body.black {
  background-color: #0f0f13;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
body.black .info-panel {
  color: #a6a6a6;
  background-color: #1c1f24;
  border-color: #272b32;
}
body.black .with-dashline-center > div, body.black .key-info-item > div, body.black .switch-item > div {
  background-color: #1c1f24;
}
body.black .with-dashline-center:before, body.black .key-info-item:before, body.black .switch-item:before {
  border-color: #3d444f;
}
body.black .key-info-item:before {
  border-color: #3d444f;
}
body.black .key-info-item h6, body.black .key-info-item p {
  background-color: #1c1f24;
}
body.black .time-info .time {
  color: #e6e6e6;
}
body.black .speed-info .speed {
  color: white;
  border-color: #272b32;
}
body.black .speed-info .statistic-item {
  color: #e6e6e6;
}
body.black .copyright {
  color: #737373;
  border-top: 1px dashed #272b32;
}
body.black .logo img {
  opacity: 0.6;
}
body.black .table-container {
  border: 1px solid #272b32;
  background-color: #1c1f24;
}
body.black .table {
  color: #737373;
}
body.black thead tr {
  border-bottom: #272b32;
}
body.black thead tr th {
  color: #737373;
}
body.black tbody tr:nth-child(odd) {
  background-color: #131519;
}
body.black tbody tr:nth-child(even) {
  background-color: #181a1e;
}
body.black tbody tr:hover {
  background-color: #20242a;
}
body.black td .btn, body.black td .btn-group .btn-vertical > *, .btn-group body.black td .btn-vertical > * {
  color: #a6a6a6;
  background-color: #272b32;
  border: 1px solid #272b32;
}
body.black td .btn:hover, body.black td .btn-group .btn-vertical > :hover, .btn-group body.black td .btn-vertical > :hover {
  color: white;
  background-color: #FF3B30;
}
body.black .template-container {
  color: #e6e6e6;
  border: 1px solid #272b32;
  background-color: #1c1f24;
}
body.black .typing-container textarea {
  border: 1px solid #272b32;
  background-color: #1c1f24;
  color: #737373;
}
body.black .typing-container textarea:focus {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
body.black .text .correct {
  color: #363a46 !important;
}
body.black .text .wrong {
  background-color: #FF3B30;
  color: white !important;
}
body.black .btn-group {
  border: 1px solid #272b32;
}
body.black .btn-group .btn, body.black .btn-group .btn-vertical > * {
  color: #a6a6a6;
  background-color: #1c1f24;
  border-right: 1px solid #272b32;
}
body.black .btn-group .btn:active, body.black .btn-group .btn-vertical > :active {
  -webkit-box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  box-shadow: inset 0 1px 2px black;
}
body.black .btn-group .btn:hover, body.black .btn-group .btn-vertical > :hover {
  background-color: #383838;
}
body.black .btn-group .btn:last-child, body.black .btn-group .btn-vertical > :last-child {
  border-right: none;
}
body.black .btn-group .btn.danger, body.black .btn-group .btn-vertical > .danger {
  background-color: #FF3B30;
  color: white;
}
body.black .btn-group .btn-vertical > * {
  border-right: none;
  border-bottom: 1px solid #272b32;
}
body.black .btn-group .btn-vertical > *:last-child {
  border-bottom: none;
}
body.black input[type=checkbox] + label {
  background-color: #666666;
}
body.black input[type=checkbox]:checked + label {
  background-color: #009652;
}
body.black input[type=checkbox] + label:before {
  background-color: #1c1f24;
}
body.black input[type=radio] + label {
  color: #cc7700;
}
body.black input[type=radio]:checked + label {
  background-color: #cc7700;
  color: white;
}
body.black input[type=radio]:checked + label:hover {
  background-color: #b36800;
}
body.black ::-webkit-scrollbar-track {
  border-right: 1px solid #272b32;
  background-color: #272b32;
}
body.black ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #737373;
  transition: all 0.2s;
  height: 3px;
}
body.black :hover::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  transition: all 0.2s;
}
body.black kbd {
  background-color: #404040;
  border: 2px solid #545454;
  margin-right: 3px;
  color: #a6a6a6;
  -webkit-box-shadow: 1px 2px 1px #1a1a1a;
  -moz-box-shadow: 1px 2px 1px #1a1a1a;
  box-shadow: 1px 2px 1px #1a1a1a;
}
body.black .editor {
  background-color: #0f0f13;
}
body.black .editor-content, body.black .editor-title {
  color: #e6e6e6;
  border: 1px solid #272b32;
  background-color: #1c1f24;
}
body.black .editor-content:focus, body.black .editor-title:focus {
  border-color: #26c57d;
  -webkit-box-shadow: 0 0 0 3px rgba(38, 197, 125, 0.5);
  -moz-box-shadow: 0 0 0 3px rgba(38, 197, 125, 0.5);
  box-shadow: 0 0 0 3px rgba(38, 197, 125, 0.5);
}
body.black .editor-title {
  font-size: 1.2rem;
}
body.black .editor-toolbar {
  display: flex;
  justify-content: space-between;
}
body.black .type-pad-standalone {
  background-color: #0f0f13;
}
body.black .type-pad-standalone .standalone-speed-info .speed {
  color: #e6e6e6;
}
body.black .record-container .record-item {
  background-color: #1c1f24;
  border-color: #272b32;
}
body.black .record-container .record-item .meta {
  color: #8c8c8c;
  border-color: #383838;
}
body.black .score-info .title {
  border-color: #272b32;
}
body.black .score-info-item .score {
  color: #a6a6a6;
}
body.black .score-info-item .desc {
  color: #595959;
}
body.black .text-green {
  color: #166f47 !important;
}
body.black .text-dark-green {
  color: #00301a !important;
}
body.black .text-cyan {
  color: #006999 !important;
}
body.black .text-blue {
  color: #004999 !important;
}
body.black .text-purple {
  color: #29279f !important;
}
body.black .text-roseo {
  color: #c6003f !important;
}
body.black .text-red {
  color: #c90b00 !important;
}
body.black .text-orange {
  color: #995900 !important;
}
body.black .text-yellow {
  color: #997a00 !important;
}
body.black .text-gray {
  color: #5b5b60 !important;
}
body.black .text-black {
  color: #cccccc !important;
}

.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.editor {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EBEBEB;
  overflow-y: auto;
}
.editor .container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 30px;
}
.editor-content, .editor-title {
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 10px 12px;
  transition: box-shadow 0.5s;
  resize: none;
}
.editor-content:focus, .editor-title:focus {
  border-color: #26c57d;
  -webkit-box-shadow: 0 0 0 3px rgba(38, 197, 125, 0.5);
  -moz-box-shadow: 0 0 0 3px rgba(38, 197, 125, 0.5);
  box-shadow: 0 0 0 3px rgba(38, 197, 125, 0.5);
}
.editor-title {
  font-size: 1.2rem;
}
.editor-toolbar {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
}

.translation-panel {
  display: block;
  z-index: 100;
  white-space: nowrap;
  position: absolute;
  top: -0.8rem;
  left: 0;
  line-height: 1;
  padding: 3px 5px;
  color: #00afff;
  font-weight: normal;
  font-size: 12px;
}
.translation-panel:hover {
  color: #ff2d70;
}

.record-container {
  overflow-y: auto;
  margin-top: 12px;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: flex-start;
  display: flex;
}

.record-item {
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 4px 7px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  font-family: "Galvji";
}
.record-item .speed {
  padding-right: 8px;
  width: 67.5px;
  text-align: right;
  font-size: 15px;
}
.record-item .meta {
  width: 40px;
  text-align: right;
  border-left: 1px solid #dddddd;
  padding-left: 8px;
  font-size: 10px;
  line-height: 1.1;
}
.score-info .title {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px dashed #dddddd;
}

.score-info-item-group {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.score-info-item {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.score-info-item .score {
  color: #333;
  font-family: "JetBrainsMonoOnlyCharacter";
  font-size: 14px;
}
.score-info-item .desc {
  color: #999;
  font-weight: normal;
  font-size: 10px;
}

.score-statistics-container .score-statistics-list {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}
.score-statistics-container .score-statistics-list .score-statistics-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 5px;
}
.score-statistics-container .score-statistics-list .score-statistics-item .chart-bar {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  overflow: hidden;
  width: 100%;
  background-color: #EBEBEB;
  height: 60px;
  position: relative;
}
.score-statistics-container .score-statistics-list .score-statistics-item .chart-bar .process {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.score-statistics-container .score-statistics-list .score-statistics-item .label {
  font-size: 8px;
}

body {
  color: #333;
  background-color: #EBEBEB;
  padding-bottom: 50px;
  overflow-y: auto;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#app {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.type-pad-container {
  width: 100%;
}

.type-pad .tool-bar {
  display: none;
  justify-content: flex-end;
}
.type-pad .standalone-speed-info {
  display: none;
}

.untyped-part {
  position: relative;
}

.template-container {
  color: #333;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  min-height: 150px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.template-container.big {
  max-height: 200px;
}
@media (max-width: 768px) {
  .template-container {
    margin-bottom: 5px;
    height: auto;
    overflow-y: scroll;
  }
}

.typing-container {
  position: relative;
}
.typing-container textarea {
  padding: 10px 15px;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-appearance: none;
  white-space: pre-wrap;
  border: 1px solid #dddddd;
  resize: none;
  min-height: 150px;
  max-height: 200px;
  width: 100%;
  display: block;
}
.typing-container textarea.big {
  max-height: 200px;
}
.typing-container textarea:focus {
  border-color: #ccc;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12);
}

.text {
  word-break: break-word;
  font-size: 2rem;
  white-space: pre-wrap;
  letter-spacing: 1px;
  /* Big Character mode*/
}
.text.english {
  line-height: 1.3;
  font-size: 1.8rem;
  font-family: "";
  letter-spacing: 0;
}
.text .correct {
  text-shadow: none;
  color: rgba(0, 0, 0, 0.1) !important;
  white-space: inherit;
}
.text.big {
  font-size: 4rem !important;
}
.text .wrong {
  background-color: #FF3B30;
  color: white !important;
  white-space: inherit;
}
@media (max-width: 768px) {
  .text {
    font-size: 1.5rem;
  }
}

.link, .info-panel > p a {
  cursor: pointer;
  color: inherit;
}
.link:hover, .info-panel > p a:hover {
  color: #ff2d70;
  text-decoration: none;
}
.link.danger, .info-panel > p a.danger {
  color: #FF3B30;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden-big {
    display: none;
  }
}

.text-green {
  color: #26c57d !important;
}

.text-dark-green {
  color: #009652 !important;
}

.text-cyan {
  color: #00afff !important;
}

.text-blue {
  color: #007AFF !important;
}

.text-purple {
  color: #5856D6 !important;
}

.text-roseo {
  color: #ff2d70 !important;
}

.text-red {
  color: #FF3B30 !important;
}

.text-orange {
  color: #FF9500 !important;
}

.text-yellow {
  color: #FFCC00 !important;
}

.text-gray {
  color: #8E8E93 !important;
}

.text-black {
  color: #000000 !important;
}

.full-screen {
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 70;
}
.full-screen-btn {
  opacity: 0.3;
  width: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.full-screen-btn img {
  display: block;
  width: 100%;
}
.full-screen-btn:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.full-screen-tip {
  font-size: 12px;
  color: #999;
}
.full-screen-tip-mobile {
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  color: #999;
}
@media (max-width: 768px) {
  .full-screen {
    display: none;
  }
}

.type-pad-standalone {
  height: 100%;
  overflow-y: auto;
  padding: 100px 200px;
  background-color: #EBEBEB;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.type-pad-standalone .tool-bar {
  display: flex;
}
.type-pad-standalone .template-container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
}
.type-pad-standalone .typing-container {
  margin-bottom: 24px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.type-pad-standalone .standalone-speed-info {
  display: flex;
  font-family: "JetBrainsMonoOnlyCharacter";
  color: #999;
  font-size: 20px;
}
.type-pad-standalone .standalone-speed-info > * {
  padding: 2px 10px;
  border-right: 1px solid #FF9500;
}
.type-pad-standalone .standalone-speed-info > *:last-child {
  border-right: none;
}
.type-pad-standalone .standalone-speed-info .speed {
  width: 120px;
  color: #333;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .type-pad-standalone {
    padding: 100px;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .type-pad-standalone {
    padding: 50px;
  }
}
@media (max-width: 500px) {
  .type-pad-standalone {
    padding: 10px;
  }
}
