.option{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-item{

  }
}

.current{
  text-align: right;
  min-width: 20px;
  display: inline-block;
  color: $red;
}
