
// 极简模式
.type-pad-standalone{
  .tool-bar{
    display: flex;
  }
  padding: 100px 200px;
  background-color: $bg-body;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .template-container{
    @include border-radius(10px);
    margin-bottom: $gap-block * 2;
  }
  .typing-container{
    @include border-radius(10px);
  }

  .record-container{
    height: 300px;
  }
  .table-container{
    height: 300px;
  }
}
