// Colors
$green          : #26c57d;
$dark-green     : #009652;
$cyan           : #00afff;
$blue           : #007AFF;
$purple         : #5856D6;
$roseo          : #ff2d70;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;
$black          : #000000;

$color-main     : $roseo;
$color-text     : #333;
$color-subtitle : #666;

$color-border:  #dddddd;
$color-border-clearly:  #ccc;

$bg-body      : #EBEBEB;


$text-main         : #333;
$text-subtitle     : #555;
$text-comment      : #999;

$separate-width    : 1280px;
$separate-mobile   : 768px;


$z-toast           : 100;
$z-modal           : 70;
$z-mask            : 50;


$fz-info           : 12px;
$fz-typing         : 2rem;
$fz-editor-title   : 1.2rem;
$fz-editor-content : 1rem;
$fz-typing-mobile  : 1.5rem;
$fz-typing-english : 1.8rem;
$fz-copyright      : 10px;
$fz-translation    : 12px;

$gap-block         : 12px;
$radius-main       : 7px; // 全局 radius

