// Colors
$green          : #4CD964;
$cyan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;

$color-main     : #B61111;
$color-text     : #333;
$color-subtitle : #848484;

$color-border:  #cccccc;

$bg-second      : #EBEBEB;
$bg-navbar      : #B61111;
$bg-footer      : #3B3B3B;


$text-main      : #333;
$text-subtitle  : #666;
$text-comment   : #999;

$separate-width: 1200px;


$z-toast: 100;
$z-modal: 70;
$z-mask: 50;


$font-size-info: 12px;
